html
html
   head
      title Wordscapes Solver
      meta(name="viewport" content="width=device-width, initial-scale=1") 
      link(rel="stylesheet", type="text/css", href="./style.css")
   body
      .container
         h1 Wordscapes Solver
         h4 Beat your friends at Wordscapes.
         p Tell it what spaces are available (using special characters), and if any letters have been filled in e.g:
         ul 
          li Solve Word: 
            strong c-t
          li Using Letters: 
            strong catery
          li Solutions: 
            strong cat
         ul
          li Solve Word: 
            strong b..t
          li Using Letters: 
            strong botaor
          li Solutions: 
            strong bart, boat, boot, bort, brat, brot
         p It searches over 400k words to find potential solutions.
         hr